<h1><%=@volunteer.name %></h1>

<h4>Username: <%=@volunteer.username%></h4>

<h2>Contact Info</h2>
<ul>
  <li>Email: <%=@volunteer.email%></li>
  <li>Phone number: <%=@volunteer.phone_number%></li>
</ul>
<br>

<h2>Upcoming Routes</h2>
<ul>
  <% @volunteer.delivery_routes.each do |route| %>
    <li>Route ID #<%=route.id%></li>
    <li>Estimated date of delivery: <%=route.estimated_delivery_date%></li>
    <br>
  <% end %>
</ul>

<%= includeEditOptionVolunteer(@volunteer) %>
