<h1><%=@volunteer.name %></h1>

<h2>Username: <%=@volunteer.username%></h2>

<h2>Contact Info</h2>
<ul>
  <li>Email: <%=@volunteer.email%></li>
  <li>Phone number: <%=@volunteer.phone_number%></li>
</ul>
<br>

<h2>Upcoming Routes</h2>
<ul>
  <% @volunteer.upcoming_delivery_routes.each do |route| %>
    <li><%= link_to "Route ID \##{route.id}", volunteer_delivery_route_path(@volunteer, route) %></li>
    <li>Route date: <%=route.estimated_delivery_date%></li>
    <br>
  <% end %>
</ul>

<%= link_to "View all routes", volunteer_delivery_routes_path(@volunteer)%>

<br>
<%= include_edit_option_volunteer(@volunteer) %>
