<h1><%=@volunteer.name %></h1>

<h4>Username: <%=@volunteer.username%></h4>

<h2>Contact Info</h2>
<ul>
  <li>Email: <%=@volunteer.email%></li>
  <li>Phone number: <%=@volunteer.phone_number%></li>
</ul>
<br>

<%= includeEditOption(@volunteer) %>
