<h1>Welcome to the community.</h1>

<%= newDeliveryRequestWording %>

<h2>Deliveries: </h2>
<% @pending_delivery_requests.each do |dr| %>
  <%= printDeliveryTitle(dr) %>
  <ul>
    <li>Member requesting: <%= link_to dr.community_member.name, community_member_path(dr.community_member) %></li>
    <li>Requested items: <%= dr.items %></li>
    <li>Requested delivery date: <%= dr.requested_date %></li>
    <li>Status: Pending</li>
    <%= includeSignUpOption(dr) %>
  </ul>
  <br>
<% end %>
