<h1>Delivery ID #<%=@delivery_request.id%></h1>

<h3>Requested by: <%=link_to @delivery_request.community_member.name, community_member_path(@delivery_request.community_member) %></h3>
<h3>Delivery Request Status: <%=@delivery_request.status%></h3>
<h3>Request Details</h3>
<ul>
  <li>Items: <%= @delivery_request.items %></li>
  <li>Requested date for delivery: <%= @delivery_request.requested_date%></li>
</ul>

<% if @delivery_request.delivery_route %>
  <h3>Route details</h3>
  <ul>
    <li>Route ID #<%=@delivery_request.delivery_route.id%></li>
    <li>Volunteer: <%=link_to @delivery_request.volunteer_name, volunteer_path(@delivery_request.volunteer)%></li>
  </ul>
<% end %>

<%= show_edit_option_delivery(@delivery_request) %>
<%= show_volunteer_option_delivery(@delivery_request) %>

<h4>Comments</h4>
<% @delivery_request.comments.each do |c| %>
  <div class="comment">
    <%= print_user_and_time(c) %>
    <p><%=c.content%></p>
  </div>
<% end %>

<br><br>
<p>Leave a comment: </p>
<%= form_for @new_comment do |f| %>
  <%= f.text_field :content %>
  <input type="hidden" name="delivery_request_id" value="<%=@delivery_request.id%>">
  <%= f.submit 'Post' %>
<% end %>
