<div class="container">
  <br>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Delivery ID #<%=@delivery_request.id%></h1>
      <p>Requested by <%=link_to @delivery_request.community_member.name, community_member_path(@delivery_request.community_member) %></p>
      <p>Status: <%=@delivery_request.status%></p>
    </div>
  </div>

  <h3>Request Details</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Items: <%= @delivery_request.items %></li>
    <li class="list-group-item">Requested date for delivery: <%= @delivery_request.requested_date %></li>
  </ul>
  <br>

  <%= form_for @delivery_request do |f| %>
    <%= f.radio_button :status, 'new' %>
    <%= f.label :status_new, 'Mark this delivery as new (I am unable to make this delivery at the time requested)' %>
    <br>
    <%= f.radio_button :status, 'confirmed' %>
    <%= f.label :status_confirmed, 'Mark this delivery as confirmed (Add this to my in-progress routes)' %>
    <br>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
