<h1>Delivery ID #<%=@delivery_request.id%></h1>

<h3>Requested by: <%=link_to @delivery_request.community_member.name, community_member_path(@delivery_request.community_member) %></h3>
<h3>Delivery Request Status: <%=@delivery_request.status%></h3>
<h3>Request Details</h3>
<ul>
  <li>Items: <%= @delivery_request.items %></li>
  <li>Requested date for delivery: <%= @delivery_request.requested_date%></li>
</ul>

<%= form_for @delivery_request do |f| %>
  <%= f.radio_button :status, 'new' %>
  <%= f.label :status_new, 'Mark this delivery as new (I am unable to make this delivery at the time requested)' %>
  <br>
  <%= f.radio_button :status, 'confirmed' %>
  <%= f.label :status_confirmed, 'Mark this delivery as confirmed (Add this to my in-progress routes)' %>
  <br>
  <%= f.submit %>
<% end %>
