<div class="container">
  <br>
  <h1>Edit the status of this route</h1>

  <h2><%= link_to "Route ID \##{@delivery_route.id}", volunteer_delivery_route_path(@volunteer, @delivery_route)%></h2>

  <%= form_tag volunteer_delivery_route_path(@volunteer, @delivery_route) do %>
    <input id="hidden" type="hidden" name="_method" value="patch">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= radio_button_tag 'status', 'confirmed' %>
    <label for="status_confirmed">Mark this route as pending (not yet completed)</label>
    <br>
    <%= radio_button_tag 'status', 'completed' %>
    <label for="status_completed">Mark this route and all its deliveries as completed</label>
    <br>
    <%= submit_tag "Update Route", class: "btn btn-primary" %>
  <% end %>

  <br><br>
  <%= include_delete_option_route(@delivery_route) %>

</div>
