<div class="container">
  <br>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Delivery Routes</h1>
      <p><%=link_to "Find more requests to help with!", delivery_requests_path, class: "btn btn-info" %></p>
    </div>
  </div>

  <h2>Upcoming routes: </h2>
  <div class="card-columns">
    <% @upcoming_routes.each do |route| %>
      <div class="card" style="width: 22rem;">
        <div class="card-body">
          <h5 class="card-title"><%= link_to "Route ID \##{route.id}", volunteer_delivery_route_path(@volunteer, route) %></h5>
          <p class="card-text">Route date: <%=route.estimated_delivery_date%></p>
        </div>
      </div>
    <% end %>
  </div>

  <h2>Completed routes: </h2>
  <div class="card-columns">
    <% @completed_routes.each do |route| %>
      <div class="card" style="width: 22rem;">
        <div class="card-body">
          <h5 class="card-title"><%= link_to "Route ID \##{route.id}", volunteer_delivery_route_path(@volunteer, route) %></h5>
          <p class="card-text">Completed on <%=route.estimated_delivery_date%></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
