<h1>Route ID #<%=@delivery_route.id%></h1>

<h4>Status: <%=@delivery_route.status%></h4>

<h3>Shopping list for this route: </h3>
<ul>
  <p>TODO: Put the list of all items in the route here</p>
</ul>

<h2>Delivery Requests along this route: </h2>
<ul>
  <% @delivery_route.delivery_requests.each do |dreq| %>
    <li><%=link_to "Delivery Request ID \##{dreq.id}", delivery_request_path(dreq)%></li>
    <li>For: <%=link_to dreq.community_member.name, community_member_path(dreq.community_member)%></li>
    <li>Address: <%=dreq.community_member.address%></li>
    <br>
  <% end %>
</ul>

<%= includeEditOptionRoute(@delivery_route) %>
