<h1>Sign up to be a member of our community!</h1>

<%= form_for @community_member do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>
  <%= f.label :address %>
  <%= f.text_field :address %><br>
  <%= f.label :phone_number %>
  <%= f.text_field :phone_number %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :allergies %>
  <%= f.text_field :allergies %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%# <%= f.password_field :password_confirmation %>
  <%= f.submit %>
<% end %>
